@page "/aboutrazor.html"
@* @{
    Layout = "_Layout.cshtml";
} *@
<h1>day la trang about razor</h1>
<p>Razor là một template engine trong .NET,
    nó là templa mặc định của ASP.NET MVC, có chưc năng render(dựng) HTMl từ các view
    (.cshtml) , View(.cshtml) cho phép viết trực tiếp mã HTML đồng thời 
    cho phép nhúng mã c#
</p>